<header>
  <div class="container">
    <div class="header-wrapper">
      <div class="header-logo__block">
        <img src="./assets/images/cobra-logo.svg" alt="Cobra главное изображение">
      </div>
      <div class="header-buttons__block">
        <a href="#"><span>Тарифы</span></a>
        <div class="account-buttons">
          <a href="#"><span>Вход</span></a>
          <button class="button-primary__initial"><span>Регистрация</span></button>
        </div>
        <a href="#" class="profile-icon"><img id="profile-icon" src="./assets/images/profile-icon.svg" alt=""></a>
      </div>
    </div>
  </div>
</header>